/*BODY*/

* {
    margin: 0px;
    padding: 0px;
}

.prettyline {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#mainBody {
    margin-top: 10px;
}

body {
    font-family: "Lato", sans-serif;
    margin: 30px;
}

#allProd {
    display: block;
}

#detailProd {
    display: none;
}

#panier {
    display: none;
}

#alertItemAdded {
    display: none;
}


/*Div*/

#logindiv {
    display: none;
}

#signupdiv {
    display: none;
}

#gestionFilmDiv {
    display: none;
}

#gestionMembreDiv {
    display: none;
}


/*Alert*/

#alertMembreAdded {
    display: none;
}

#alertInputRequired {
    display: none;
}


/*FOOTER*/

#myfooter {
    padding: 20px;
    margin: 3px auto auto auto;
    color: deepskyblue;
    text-align: center;
}


/*MENU / LOGIN - LINKS*/

#menulink {
    font-size: 30px;
    cursor: pointer;
    color: deepskyblue;
    padding-left: 30px;
}

#btn_gestionMembre,
#btn_gestionAdmin {
    font-size: 20px;
    cursor: pointer;
    color: greenyellow;
    padding-right: 60px;
    border: 2px solid red;
}

#btn_login,
#modal-cart {
    font-size: 20px;
    cursor: pointer;
    color: deepskyblue;
    padding-right: 30px;
}

#btn_gestionMembre:hover,
btn_gestionAdmin:hover,
#btn_login:hover,
#modal-cart:hover,
#menulink:hover {
    color: whitesmoke;
}


/* IMG TITLE ON HEADER - CENTER*/

.navbar8 .navbar-brand {
    background: url(../../images/books.png) center / contain no-repeat;
    width: 120px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}


/*Center on mobile*/

@media only screen and (max-width: 768px) {
    .navbar8 .navbar-brand {
        padding: 0px;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
    .navbar8 .navbar-brand>img {
        height: 100%;
        width: auto;
        padding: 7px 14px;
    }
}


/*MENU LATERAL*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #404040;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu-item h4 a {
    color: midnightblue;
    display: block;
    text-decoration: none;
    width: 200px;
}


/*Menu aberto*/

.menu-item ul {
    background: #404040;
    font-size: 16px;
    line-height: 30px;
    height: 0px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    /*Animation*/
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.menu-item:hover ul {
    height: auto;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: red;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/*MENU LATERAL ITENS NAV*/

nav {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.5;
    margin: 50px auto;
    /*for display only*/
    width: 200px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /*-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-item {
    background: #f2f2f2;
    width: 200px;
}


/*Menu Header Styles*/

.menu-item h4:hover {
    background: #cc002c;
    /* Old browsers */
    background: -moz-linear-gradient(top, #cc002c 0%, #6d0019 100%);
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cc002c 0%, #6d0019 100%);
    /* IE10+ */
}


/*ul Styles*/


/*OVERLAY IMAGE*/

.containerOverlay {
    position: relative;
    width: auto;
}

.imageOverlay {
    opacity: 1;
    display: block;
    width: auto;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.containerOverlay:hover .imageOverlay {
    opacity: 0.3;
}

.containerOverlay:hover .middle {
    opacity: 1;
}

#titleProd {
    background-color: #404040;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    width: 180px;
    height: auto;
    border-radius: 10px;
}

#priceProd {
    background-color: red;
    color: whitesmoke;
    font-size: 38px;
    text-align: center;
    border-radius: 15px;
    width: 180px;
    height: auto;
}


/*QNTD IMAGE BUTTON*/

#btnQntd {
    width: 70px;
    font-size: large;
}


/*PRODUCTS FILTER*/

.title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.filter-button {
    font-size: 16px;
    border: 1px solid darkred;
    border-radius: 5px;
    text-align: center;
    color: darkred;
    margin-bottom: 30px;
}

.filter-button:hover {
    font-size: 16px;
    border: 1px solid deepskyblue;
    border-radius: 5px;
    text-align: center;
    color: darkblue;
    background-color: lightskyblue;
}

.btn-default:active .filter-button:active {
    background-color: deepskyblue;
    color: white;
}


/*DETAIL PRODUCT - APAGAR*/

ul>li {
    margin-right: 25px;
    font-weight: lighter;
    cursor: pointer
}

li.active {
    border-bottom: 3px solid silver;
}

.item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f6f6f6;
}

.menu-items {
    list-style-type: none;
    font-size: 11px;
    display: inline-flex;
    margin-bottom: 0;
    margin-top: 20px
}

.btn-success {
    width: 100%;
    border-radius: 0;
}

.section {
    width: 100%;
    margin-left: -15px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    background: #f8f9f9
}

.title-price {
    margin-top: 30px;
    margin-bottom: 0;
    color: black
}

.title-attr {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.btn-minus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-right: 0;
}

.btn-plus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-left: 0;
}

div.section>div {
    width: 100%;
    display: inline-flex;
}

div.section>div>input {
    margin: 0;
    padding-left: 5px;
    font-size: 10px;
    padding-right: 5px;
    max-width: 18%;
    text-align: center;
}

.attr,
.attr2 {
    cursor: pointer;
    margin-right: 5px;
    height: 20px;
    font-size: 10px;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 2px;
}

.attr.active,
.attr2.active {
    border: 1px solid orange;
}

@media (max-width: 426px) {
    .container {
        margin-top: 0px !important;
    }
    .container>.row {
        padding: 0 !important;
    }
    .container>.row>.col-xs-12.col-sm-5 {
        padding-right: 0;
    }
    .container>.row>.col-xs-12.col-sm-9>div>p {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .container>.row>.col-xs-12.col-sm-9>div>ul {
        padding-left: 10px !important;
    }
    .section {
        width: 104%;
    }
    .menu-items {
        padding-left: 0;
    }
}


/*MODAL PANIER*/